* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #667eea, #764ba2);
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.container {
  background: white;
  width: 90%;
  max-width: 500px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: center;
}

.search-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.search-box button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(to right, #ff758c, #ff7eb3);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.search-box button:hover {
  transform: scale(1.05);
}

.result {
  margin-top: 20px;
  text-align: left;
}

.bus-card {
  background: #f5f5f5;
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
}